.alerts{
    position: relative;
}

.alert{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(-15%);
    left: 50%;
}

.success, .danger{
    transform: translateX(-50%);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: .45rem;
    padding: 0.50rem 1rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.success {
    background-color: var(--alert-sucess);  
    border-color: var(--alert-sucess-borda);
}

.danger{
    background-color: var(--alert-danger);  
    border-color: var(--alert-danger-borda);
}

/*#D11515C0*/