:root {
    --cor-branco: #F5EBE0;
    --cor-azul: #3946d4;
    --cor-verde: #34A0A4;
    --alert-sucess: #D4EDDA;
    --alert-sucess-borda: #C3E6CB;
    --alert-danger: #F8D7DA;
    --alert-danger-borda: #F5C6CB;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}